/* Basic reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #333;
    color: blue;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.intro {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

/* Cover Image Styles */
.cover-image {
    max-width: 100%;
    height: auto;
}

 h1 {
    margin: 20px 0;
    font-size: 3em;
}

.tagline {
    font-size: 1.5em;
    color: #555;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

/* Section Styles */
section {
    padding: 40px 20px;
}

#about, #gameplay {
    background-color: #eaeaea;
    margin-top: 20px;
    text-align: center;
}
#features {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.feature-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.feature {
    max-width: 30%;
    margin: 20px;
    text-align: center;
}

.feature-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h3 {
    font-size: 1.8em;
    margin: 15px 0;
}

p {
    font-size: 1em;
    color: #666;
}
#about-project {
    background-color: #eaeaea;
    padding: 50px 20px;
    text-align: center;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
}

.about-content ul {
    list-style: none;
    padding: 0;
}

.about-content ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

.about-content a {
    color: #0073e6;
    text-decoration: none;
}

.about-content a:hover {
    text-decoration: underline;
}

